aio_pika==9.5.7
anyio==4.9.0
fastapi==0.119.0
httpx==0.28.1
openpyxl==3.1.5
passlib==1.7.4
pydantic==2.12.0
PyJWT==2.10.1
PyJWT==2.10.1
python-dotenv==1.1.1
python-socketio==5.14.1
python_dateutil==2.9.0.post0
pytz==2025.2
redis==6.4.0
reportlab==4.4.4
Requests==2.32.5
SQLAlchemy==1.4.54
starlette==0.48.0


# novo p/ validar e-mails do Pydantic:
email-validator==2.1.1

# (recomendado) runtime/http server explícitos:
uvicorn[standard]==0.30.6
gunicorn==23.0.0

# (provável que você use upload de arquivos em FastAPI)
python-multipart==0.0.9
